.our-works{
    padding: 5px 10px 50px;
    background-color: #222021;
}

.our-work-title{
    color: white;
    font-size: 70px;
    padding: 10px 0 50px;
    text-align: center;
}

@media screen and (max-width: 520px){
    .our-work-title{
        font-size: 50px;
        padding-bottom: 20px;
    }
}